<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Predictor</title>
</head>
<body>
    <h1>Health Prediction System</h1>
    <form action="http://127.0.0.1:5000/predict" method="post">
    <input type="text" name="temperature" placeholder="Temperature" required>
    <input type="text" name="cough" placeholder="Cough (0 or 1)" required>
    <input type="text" name="fatigue" placeholder="Fatigue (0 or 1)" required>
    <input type="text" name="chest_pain" placeholder="Chest Pain (0 or 1)" required>
    <input type="text" name="shortness_of_breath" placeholder="Shortness of Breath (0 or 1)" required>
    <input type="text" name="blood_sugar" placeholder="Blood Sugar" required>
    <input type="text" name="frequent_urination" placeholder="Frequent Urination (0 or 1)" required>
    <button type="submit">Predict</button>
</form>

    {% if prediction_text %}
        <h3>{{ prediction_text }}</h3>
        <h3>{{ severity_text }}</h3>
    {% endif %}
</body>
</html>
